[submodule "libs/easy-ecc"]
	path = libs/easy-ecc
	url = https://github.com/esxgx/easy-ecc
[submodule "libs/AES"]
	path = libs/AES
	url = https://github.com/SergeyBel/AES
[submodule "libs/continuable"]
	path = libs/continuable
	url = https://github.com/Naios/continuable.git
